<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>
<body>
    <h1>Registro</h1>
    <form method="post">
        {% csrf_token %}
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required>
        <button type="submit">Registrar</button>
    </form>
    <a href="{% url 'login' %}">Login</a>
</body>
</html>